@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

body {
  margin: 0;
  font-family: 'Rubik';
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(0,0,0);
  background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(15,35,134,1) 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Minter {
  max-width: 80vh;
  max-height: 80vh;
  padding: 20px 20px 20px;
  margin: 0 auto;
  text-align: left;

}

input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  font-size: 16px;
  color: #ffffff;
  width: 100%;
  background: rgba(0, 0, 0, 0);
  border-color: rgba(163, 163, 163, 0.521);
  line-height: 32px;
}

input:focus {
  outline: none;
  border-color: rgb(255, 255, 255);
}

#status {
  color:#ffffff;
  /* padding-top: 20px; */
}

a {
  color:#f9f9f9;
}

button {
  padding: 9px 16px;
  max-height: 40px;
  /*box-shadow: 4px 4px 15px 0 rgb(0 0 0 / 20%);*/
  border-color: #ffffff;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 15px;
  align-items: center;
  font-size: 16px;
  font-weight: 50;
  text-align: center;
  /* font-weight: bold; */
  cursor:pointer;
  margin-right: 10px;
  margin-top: 20px;
}

#activebutton {
  margin-top: 20px;
  margin-right: 10px;
  background-color: white;
  color:#254cdd;
}

button:hover {


  color:#254cdd;
  background-color: white;
}


#title {
  padding-top: 32px;
}

.uploadFile {
  border: 4px dashed rgba(4, 4, 5, 0.1);
  border-radius: 16px;
  text-align: center;
  padding: 32px 60px;
}

#walletButton {
  text-align: right;
  float:right;
  margin-bottom: 50px;
  line-height: 16px;
}

.hide {
  display:none;
  }
/* #walletButton:focus {
  outline:none;
  border: none;
} */

/* #walletButton:hover {
  outline:none;
  border :none;
}  */

#mintButton {
  margin-top: 40px;
  background-color: #254cdd;
  color:white;
}





